h1 {
	text-align: center;
}

.myform {
	color: #5EA9DD;
	width: 80%;
	padding-left: 20%;
	padding-top: 1.5em;
} 
.main-button-container {
	padding-left: 34%;
	padding-top: 2em;
	padding-bottom: 1.5em;
}


.main-button {
	padding-left: 1em;
}

.info-container {
	margin-left: 1em;
}

.results-container {
	
}

.loading {
	padding-top: 3.5em;
}

.face-result {
	padding-left: 25%;
	padding-top: 1.5em;
}

.sent-percent {
	font-size: 3em;
    font-weight: bold;
    color: green;
}

.sent-percent-container {
	padding-left: 80px;
	padding-top: 1em;
}

.tweets-button {
	padding-top: 1em;
	padding-left: 32%;
}
.tweets-list {
	padding-top: 1em;
}
#tw-list {
	padding-top: 1.5em;
	height: 196px ;
	width:90%;
	padding-left:2em;
	border: 0px;
	text-align: left;
	overflow-y:auto;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

label-input {
	color: #5EA9DD;
}

.dash {
	height: 14em;
	padding-top: 3em;
	text-align: center;
	/*border: 1px solid #38b8ea;*/
}

.dash-no-over {
	height: 14em;
	padding-top: 3em;
	text-align: center;
	/*border: 1px solid #38b8ea;*/
}

.dash:hover {
	/*border-radius: 20px;
	border: 2px solid #5EA9DD;*/
}

.dash-row {
	width: 100%;
	positon: relative;
	padding-top: -3em;
}

#dash1 {
	text-align: left;
	cursor: pointer;
	paddig-left: 3em;
	padding-left:7%;
}
#dash2 {
	margin-bottom: 4em;
	cursor: pointer;
	padding-left: 1em;
}
#dash3: {
	height:17em;
	margin-bottom:8em !important";
}
#dash4: {
	padding-top:6em;
	margin-bottom:8em !important;
}

.header-btn {
	width:30%; 
	position:absolute; 
	top:1.5em; 
	left:1.5em;
}

#loginPage {
	padding-left: 44%;
}

.content {

	height:100vh;
	background-repeat: no-repeat;
	background: url('../images/background.jpg') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subtitle-dash {
	font-size: small;
	font-weight: bold;
	padding-bottom:2em;
}

.row-keywords {
	padding-top: 1em;
	
}

#keyword0 {
	font-size: xx-large;
	font-weight: bold;
	color: blue;
}

#keyword1 {
	font-size: large;
	font-weight: bold;
	color: #006fff;
}

#keyword2 {
	font-size: large;
	font-weight: normal;
	color: #00a2ff;
}

#keyword3 {
	font-size: medium;
	font-weight: bold;
	color: #1695ff;
	margin-left: 150px;
}

#keyword4 {
	font-size: small;
	font-weight: bold;
	color: #0095ff;
	margin-top: -20px;
	margin-left: 10px;
	
}

#loading-bar {
	position: relative;
    top: -21px;
    height: 10px;
	background-color: #5EA9DD;
}

.brand-title {
	font-size: large;
	font-weight: bold;
}

.cool-color {
	color: #5EA9DD;
}

.news-color {
	color: #45a941;
}

.facebook-color {
	color: #2D4486;
}

.top-reselect {
	width: 0%;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    min-width: 40px;
}

.top-reselect-input {
	border-radius: 25px;
    border: 1px solid #5EA9DD;
    width: 0%;
    position: absolute;
    top: 1.25em;
    right: 4em;
    min-width: 12em;
    font-size: 1.33em;
    padding-left: 0.3em;
}

.top-reselect-input:focus {
    
}

.input-compare {
	border-radius: 25px;
    border: 1px solid #5EA9DD;
    width: 100%;
    min-width: 50px;
    font-size: 1.33em;
    padding-left: 0.3em;
    position: relative;
    z-index: 1;
    top:2em;
}

.input-compare:focus {
    
}

.button-compare {
	width: 80%;
    min-width: 40px;
    position: relative;
    z-index: 1;
    top:2.5em;
}

.bold {
	font-weight: bold;
}

#brandPage {
	padding-left: 2em;
	font-size: 1.2em;
}


.brandContent {
	padding-top: 2em;
}

.separated-rows {
	padding-bottom: 1.5em;
}

.custom-select {
	font-size: 1.2em;
	width: 80%;
}

.custom-date {
	font-size: 1.2em;
	width: 80%;
	border-radius: 5px;
    border: 1px solid #5EA9DD;
    padding-left: 0.3em;
}

.competitor {
	font-size: 1.2em;
	width: 80%;
	border-radius: 5px;
    border: 1px solid #5EA9DD;
    padding-left: 0.3em;
}


.brandwar-line-det {
	padding-left: 20%;
	font-size: 1.2em;
}

.brand-title-det {
	font-size: 1.4em;
}

.brandwar-det-res {
	padding-top: 2em;
}



textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}


.chart-container {
	padding-left: 10%;
}

.img-title {
	padding-left:0.5em;
}