h1 {
	text-align: center;
}

.myform {
	color: #5EA9DD;
	width: 80%;
	padding-left: 20%;
	padding-top: 1.5em;
} 
.main-button-container {
	padding-left: 34%;
	padding-top: 2em;
	padding-bottom: 1.5em;
}


.main-button {
	padding-left: 1em;
}

.info-container {
	margin-left: 1em;
}

.results-container {
	
}

.loading {
	padding-left: 44%;
	padding-top: 3.5em;
}

.face-result {
	padding-left: 25%;
	padding-top: 1.5em;
}

.sent-percent {
	font-size: 3em;
    font-weight: bold;
    color: green;
}

.sent-percent-container {
	padding-left: 80px;
	padding-top: 1em;
}

.tweets-button {
	padding-top: 1em;
	padding-left: 32%;
}
.tweets-list {
	padding-top: 1em;
}
#tw-list {
	padding-top: 1.5em;
	height: 256px ;
	width:95%;
	padding-left:1em;
	border: 0px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

label-input {
	color: #5EA9DD;
}

.dash {
	height: 14em;
	margin-top: 1em;
	text-align: center;
	border: 1px solid #38b8ea;
}

.dash:hover {
	border: 2px solid #5EA9DD;
}

.dash-row {
	width: 95%;
	padding-left: 7%;
}

#dash1 {
}
#dash2 {
}
#dash3: {
	height:17em;
}

.header-btn {
	width:10%; 
	position:absolute; 
	top:1.5em; 
	left:1.5em;
}

#loginPage {
	padding-left: 44%;
}

